.navbar-custom {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-item {
    padding: 20px ;
    text-align: center;
}

.nav-item:hover, .navbar-brand:hover {
    text-shadow: 1px 1px white ;
}

.active {
    text-shadow: 1px 1px white ;
}

.mainheader {
    text-align: center;
    color: white;
}

.cursive {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Lobster Two', cursive;
    font-size: 45px;
    letter-spacing: 5px; 
}

body {
    background-image: url("../images/main_bg.jpg");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.preview-area{
    width: 180px;
    height: 150px;
    display: none;
}

.preview-area img{
    width: 100%;
    height: 100%;
}

.pull-right {
    float: right;
}

.totalprice {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.placeorder {
    color: white;
}

.orderoverlay {
    background-color: rgba(0, 0, 0, 0.6) ;
    padding: 5%;
}